In [1]:
#pip install torch --index-url https://download.pytorch.org/whl/cu118
import pandas as pd
import numpy as np

import joblib

data = pd.read_csv("../data/model_data.csv")

In [2]:
home_surfaces = data[[i for i in data.columns if ('surface_' in i)&('away_' not in i)]].copy()
away_surfaces = data[[i for i in data.columns if ('surface_' in i)&('away_' in i)]].copy()

surface_interactions = pd.DataFrame()
for col in home_surfaces.columns:
    for acol in away_surfaces.columns:
        surface_interactions[f"{col}*{acol}"] = (
            home_surfaces[col]*away_surfaces[acol]
        )

sit = surface_interactions.T

surface_interactions = sit[sit.sum(axis=1)>30].T

data[list(surface_interactions.columns)] = surface_interactions

data['coverage_flg'] = np.where(data['coverage']>0,1,0)

In [3]:
this_season = data[data['season']==2023].copy()

In [4]:
model = joblib.load('../artifacts/model.joblib')

In [5]:
features = list(model.feature_names_in_)

In [6]:
this_seasonX = this_season[features].copy()
this_season_coverage_flg_prediction = pd.Series(
    model.predict(this_seasonX.fillna(0)),
    this_seasonX.index)
this_season['coverage_flg_pred'] = this_season_coverage_flg_prediction
this_season['_correct']=np.where(this_season['coverage_flg']==this_season['coverage_flg_pred'],1,0)

In [7]:
this_season[this_season['week']==1][['away_team','home_team','coverage_flg_pred','coverage_flg','_correct']]

     away_team home_team  coverage_flg_pred  coverage_flg  _correct
1372       DET        KC                  0             0         1
1373       CAR       ATL                  0             1         0
1374       HOU       BAL                  0             1         0
1375       CIN       CLE                  0             1         0
1376       JAX       IND                  0             0         1
1377        TB       MIN                  0             0         1
1378       TEN        NO                  0             0         1
1379        SF       PIT                  0             0         1
1380       ARI       WAS                  0             0         1
1381        GB       CHI                  0             0         1
1382        LV       DEN                  0             0         1
1383       MIA       LAC                  0             0         1
1384       PHI        NE                  0             0         1
1385        LA       SEA                  0             0         1
1386       DAL       NYG                  0             0         1
1387       BUF       NYJ                  0             1         0

In [8]:
this_season[this_season['week']==2][['away_team','home_team','coverage_flg_pred','coverage_flg','_correct']]

     away_team home_team  coverage_flg_pred  coverage_flg  _correct
1388       MIN       PHI                  0             0         1
1389        GB       ATL                  0             0         1
1390        LV       BUF                  0             1         0
1391       BAL       CIN                  0             0         1
1392       SEA       DET                  0             0         1
1393       IND       HOU                  0             0         1
1394        KC       JAX                  0             0         1
1395       CHI        TB                  0             1         0
1396       LAC       TEN                  0             1         0
1397       NYG       ARI                  0             1         0
1398        SF        LA                  1             1         1
1399       NYJ       DAL                  0             1         0
1400       WAS       DEN                  0             0         1
1401       MIA        NE                  1             0         0
1402        NO       CAR                  0             0         1
1403       CLE       PIT                  0             1         0

In [9]:
this_season[this_season['week']==3][['away_team','home_team','coverage_flg_pred','coverage_flg','_correct']]

     away_team home_team  coverage_flg_pred  coverage_flg  _correct
1404       NYG        SF                  0             1         0
1405       IND       BAL                  0             0         1
1406       TEN       CLE                  1             1         1
1407       ATL       DET                  0             1         0
1408        NO        GB                  0             1         0
1409       HOU       JAX                  0             0         1
1410       DEN       MIA                  0             1         0
1411       LAC       MIN                  0             0         1
1412        NE       NYJ                  0             0         1
1413       BUF       WAS                  0             0         1
1414       CAR       SEA                  1             1         1
1415       DAL       ARI                  1             1         1
1416       CHI        KC                  0             1         0
1417       PIT        LV                  0             0         1
1418       PHI        TB                  1             0         0
1419        LA       CIN                  0             0         1

In [10]:
this_season[this_season['week']==4][['away_team','home_team','coverage_flg_pred','coverage_flg','_correct']]

     away_team home_team  coverage_flg_pred  coverage_flg  _correct
1420       DET        GB                  1             0         0
1421       ATL       JAX                  0             1         0
1422       MIA       BUF                  1             1         1
1423       MIN       CAR                  0             0         1
1424       DEN       CHI                  0             0         1
1425       BAL       CLE                  1             0         0
1426       PIT       HOU                  0             1         0
1427        LA       IND                  1             0         0
1428        TB        NO                  0             0         1
1429       WAS       PHI                  0             0         1
1430       CIN       TEN                  0             1         0
1431        LV       LAC                  0             0         1
1432        NE       DAL                  1             1         1
1433       ARI        SF                  1             1         1
1434        KC       NYJ                  0             1         0
1435       SEA       NYG                  1             0         0

In [11]:
this_season[this_season['week']==5][['away_team','home_team','coverage_flg_pred','coverage_flg','_correct']]

     away_team home_team  coverage_flg_pred  coverage_flg  _correct
1436       CHI       WAS                  0             0         1
1437       JAX       BUF                  0             0         1
1438       HOU       ATL                  0             0         1
1439       CAR       DET                  0             1         0
1440       TEN       IND                  0             1         0
1441       NYG       MIA                  0             1         0
1442        NO        NE                  0             0         1
1443       BAL       PIT                  0             1         0
1444       CIN       ARI                  1             0         0
1445       PHI        LA                  0             0         1
1446       NYJ       DEN                  0             0         1
1447        KC       MIN                  0             0         1
1448       DAL        SF                  0             1         0
1449        GB        LV                  1             0         0